body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.header #heading {
  font-size: 32px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin-top: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
}